<div ng-controller="views.plan.modify as vm">
    <div class="portlet light bordered">
        <form name="modalform" role="form" novalidate class="form-validation">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span ng-if="!vm.plan.id">添加方案</span>
                    <span ng-if="vm.plan.id">编辑方案: {{vm.plan.name}} </span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label">场景名称</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="单次价格" readonly
                                       ng-class="{'edited':vm.plan.scene_type>0}" required ng-model="vm.plan.scene_name">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <!--<div class="form-group form-md-line-input">
                          
                            <label class="col-md-3 control-label" for="cate">场景名称</label>
                            <div class="col-md-9">
                                <select class="form-control edited" ui-validate="'$value>0'" ng-class="{'edited':vm.plan.scene_type>0}" required
                                        ng-model="vm.plan.scene_type" ng-options="m.scene_type as m.scene_name for m  in vm.scenes"></select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label">游戏名称</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="游戏名称" readonly
                                       ng-class="{'edited':vm.plan.game_id>0}" required ng-model="vm.plan.game_name">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <!--<div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="cate">选择游戏</label>
                            <div class="col-md-9">
                                <select class="form-control edited" ui-validate="'$value>0'" ng-class="{'edited':vm.plan.game_id>0}" required
                                        ng-model="vm.plan.game_id" ng-options="m.id as m.name for m in vm.games"></select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="row">
                    <div ng-if="vm.plan.scene_type==1" class="col-xs-6">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label">次数限制</label>
                            <label class="col-md-3 control-label">每次购买后</label>
                            <div class="col-md-3">
                                <input type="number" class="form-control" ui-validate="'$value>0'"
                                       ng-class="{'edited':vm.plan.times}" required ng-model="vm.plan.times">
                                <div class="form-control-focus"> </div>
                            </div>
                            <label class="col-md-3 control-label">次</label>
                        </div>
                    </div>
                    <div ng-if="vm.plan.scene_type==2" class="col-xs-6">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label">单次价格</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" placeholder="单次价格" ui-validate="'$value>0'"
                                       ng-class="{'edited':vm.plan.price}" required ng-model="vm.plan.price">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group form-md-radios">
                            <label class="col-md-3 control-label">请选择状态</label>
                            <div class="col-md-6 md-radio-inline">
                                <div class="md-radio">
                                    <input type="radio" id="radio6" name="radio2" class="md-radiobtn"
                                           value="1" checked ng-model="vm.plan.status">
                                    <label for="radio6">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> 上架
                                    </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="radio7" name="radio2"
                                           value="0" class="md-radiobtn" ng-model="vm.plan.status">
                                    <label for="radio7">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> 下架
                                    </label>
                                </div>

                            </div>
                            <label class="col-md-3">卡券用光后游戏自动下架</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#" data-toggle="tab" aria-expanded="true">奖品设置</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>卡券类型</th>
                                            <th>卡券名称</th>
                                            <th>库存</th>
                                            <th>中奖概率</th>
                                            <th>删除</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in vm.c.cardlist ">
                                            <td>{{row.card_type==1?'代金券':row.card_type==2?'折扣券':'礼品券'}}</td>
                                            <td>{{row.title}}</td>
                                            <td>{{row.quantity}}</td>
                                            <td>{{row.winning_rate}}</td>
                                            <td><i ng-click="vm.c.remove(row)" class="fa fa-times" aria-hidden="true"></i></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>
                                                <div class="form-group form-md-line-input">
                                                    <div class="col-md-12">
                                                        <select class="form-control edited"
                                                                ng-class="{'edited':vm.c.tempcate }" ng-change="vm.c.selectcate()"
                                                                ng-model="vm.c.tempcate" ng-options="m.name for m in vm.type"></select>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group form-md-line-input">
                                                    <div class="col-md-12">
                                                        <select class="form-control edited"
                                                                ng-class="{'edited':vm.c.tempcard}" ng-change="vm.c.selectcard()"
                                                                ng-model="vm.c.tempcard" ng-options="m.title for m in vm.c.cards"></select>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group form-md-line-input">
                                                    <div class="col-md-12">
                                                        <input type="number" class="form-control" placeholder="" readonly
                                                               ng-class="{'edited':vm.c.temp.quantity>0}" ng-model="vm.c.temp.quantity">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group form-md-line-input">
                                                    <div class="col-md-12">
                                                        <input type="number" class="form-control" placeholder="请输入概率(最高70%)"
                                                               ng-class="{'edited':vm.c.temp.winning_rate>0}" ng-model="vm.c.temp.winning_rate">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group form-md-line-input">
                                                    <button type="button" button-busy="vm.saving" busy-text="添加" class="btn btn-primary blue" ng-click="vm.c.add()">
                                                        <span>添加</span>
                                                    </button>
                                                </div>

                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#" data-toggle="tab" aria-expanded="true">适用设备</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>组织</th>
                                            <th>点位</th>
                                            <th>设备</th>
                                            <th>id</th>
                                            <th>删除</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in vm.o.coll">
                                            <td>{{row.org_name}}</td>
                                            <td>{{row.spot_name}}</td>
                                            <td>{{row.machine_name}}</td>
                                            <td>{{row.machine_code}}</td>
                                            <td><i ng-click="vm.o.remove(row)" class="fa fa-times" aria-hidden="true"></i></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>
                                                <div class="form-group form-md-line-input">
                                                    <div class="col-md-12">
                                                        <select class="form-control edited"
                                                                ng-class="{'edited':vm.o.org }" ng-change="vm.o.selectOrg()"
                                                                ng-model="vm.o.org" ng-options="m.org_name for m in vm.o.orgs"></select>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group form-md-line-input">
                                                    <div class="col-md-12">
                                                        <select class="form-control edited"
                                                                ng-class="{'edited':vm.o.point}" ng-change="vm.o.selectPoint()"
                                                                ng-model="vm.o.point" ng-options="m.spot_name for m in vm.o.points"></select>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group form-md-line-input">
                                                    <div class="col-md-12">
                                                        <select class="form-control edited"
                                                                ng-class="{'edited':vm.o.device}" ng-change="vm.o.selectDevice()"
                                                                ng-model="vm.o.device" ng-options="m.machine_name for m in vm.o.devices"></select>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group form-md-line-input">
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control" placeholder="" readonly
                                                               ng-class="{'edited':vm.o.final.machine_code}" ng-model="vm.o.final.machine_code">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group form-md-line-input">
                                                    <button type="button" button-busy="vm.saving" busy-text="添加" class="btn btn-primary blue" ng-click="vm.o.add()">
                                                        <span>添加</span>
                                                    </button>
                                                </div>

                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#" data-toggle="tab" aria-expanded="true">未中奖提示</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div isteven-multi-select
                                     input-model="vm.t.list"
                                     output-model="vm.t.select"
                                     button-label="tips_name"
                                     item-label="tips_name"
                                     tick-property="ticked">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">返回</button>
                <button type="submit" button-busy="vm.saving" busy-text="保存"
                        class="btn btn-primary blue" ng-click="vm.save()"
                        ng-disabled="modalform.$invalid">
                    <span>保存</span>
                </button>
            </div>
        </form>
    </div>
</div>











