<div>
    <form name="modalform" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="!vm.tips.id">添加未中奖提示</span>
                <span ng-if="vm.tips.id">编辑未中奖提示: {{vm.tips.tips}} </span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
              
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">未中奖提示</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="请输入提示内容"
                                     ng-class="{'edited':vm.tips.tips}" required ng-model="vm.tips.tips" >
                            <div class="form-control-focus"> </div>
                        </div>
                        <span class="help-block">80字以内</span>
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
            <button type="submit" button-busy="vm.saving" busy-text="保存"
                    class="btn btn-primary blue" ng-click="vm.save()"
                    ng-disabled="modalform.$invalid">
                <span>保存</span>
            </button>
        </div>
    </form>
</div>
