<div>
    <form name="modalform" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="!vm.model.id">添加卡券</span>
                <span ng-if="vm.model.id">编辑卡券: {{vm.model.title}} </span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">商户名称</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="商户名称" ng-readonly="vm.model.id>0"
                                   ng-class="{'edited':vm.model.id>0}" required ng-model="vm.model.brand_name">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="cate">卡券类型</label>
                        <div class="col-md-9">
                            <select class="form-control edited" ui-validate="'$value>0'"
                                     ng-class="{'edited':vm.model.card_type>0}" required   ng-readonly="vm.model.id>0"
                                    ng-model="vm.model.card_type" ng-options="m.id as m.name for m in vm.type"></select>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.model.card_type==1" class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">启用金额</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" placeholder="启用金额"  ng-readonly="vm.model.id>0"  ui-validate="'$value>0'"
                                   ng-class="{'edited':vm.model.least_cost}" required ng-model="vm.model.least_cost">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">减免金额</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" placeholder="减免金额"   ng-readonly="vm.model.id>0" ui-validate="'$value>0'"
                                   ng-class="{'edited':vm.model.reduce_cost}" required ng-model="vm.model.reduce_cost">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.model.card_type==2" class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">打折额度</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" placeholder="打折额度"  ng-readonly="vm.model.id>0"
                                   ng-class="{'edited':vm.model.discount}" required ng-model="vm.model.discount">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.model.card_type==3" class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">

                        <label class="col-md-3 control-label">商品</label>
                        <div class="col-md-9">
                            <select class="form-control edited" ui-validate="'$value>0'"  ng-readonly="vm.model.id>0" ng-class="{'edited':vm.gift}" required
                                    ng-model="vm.gift" ng-options="m.gift_name for m in vm.gifts"></select>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                  
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">卡券名</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="卡券名"  ng-readonly="vm.model.id>0"
                                   ng-class="{'edited':vm.model.title}" required ng-model="vm.model.title">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">券名</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="券名" ng-disabled="vm.model.id>0"  ng-readonly="vm.model.id>0"
                                   ng-class="{'edited':vm.model.title}" required ng-model="vm.model.title">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">使用提醒</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="卡券使用提醒"
                                   ng-class="{'edited':vm.model.notice}" required ng-model="vm.model.notice">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">卡券说明</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="卡券说明"
                                   ng-class="{'edited':vm.model.description}" required ng-model="vm.model.description">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">库存</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" placeholder="库存" ui-validate="'$value>0'"
                                   ng-class="{'edited':vm.model.quantity}" required ng-model="vm.model.quantity">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group form-md-radios">
                        <label>有效期</label>
                        <div class="md-radio-inline">
                            <div class="md-radio">
                                <input type="radio" id="radio6" name="radio2" class="md-radiobtn" value="1" checked ng-model="vm.model.date_info_type">
                                <label for="radio6">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span> 固定有效期
                                </label>
                            </div>
                            <div class="md-radio">
                                <input type="radio" id="radio7" name="radio2" value="2" class="md-radiobtn" ng-model="vm.model.date_info_type">
                                <label for="radio7">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> 领取后多少天生效
                                </label>
                            </div>
                            <div class="md-radio">
                                <input type="radio" id="radio8" name="radio2"  value="3" class="md-radiobtn" ng-model="vm.model.date_info_type">
                                <label for="radio8">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> 领取后多少天内有效
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.model.date_info_type==1" class="row">
                <div class="col-xs-12">
                    <div class="col-md-6">
                        <div class="input-icon right">
                            <p class="input-group">
                                <input type="text" class="form-control" placeholder="开始时间"
                                       uib-datepicker-popup="yyyy/MM/dd" readonly
                                       ng-model="vm.model.begin_timestamp"
                                       is-open="vm.date.leftopen"
                                       datepicker-options="vm.date.dateOptions"
                                       ng-required="true"
                                       current-text="今天"
                                       datetimepicker-neutral-timezone
                                       clear-text="清除"
                                       close-text="关闭" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="vm.date.openleft()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-icon right">
                            <p class="input-group">
                                <input type="text" class="form-control" placeholder="结束时间"
                                       uib-datepicker-popup="yyyy/MM/dd" readonly ng-model="vm.model.end_timestamp"
                                       is-open="vm.date.rightopen"
                                       datepicker-options="vm.date.dateOptions"
                                       datetimepicker-neutral-timezone
                                       ng-required="true"
                                       current-text="今天"
                                       clear-text="清除"
                                       close-text="关闭" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="vm.date.openright()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div ng-if="vm.model.date_info_type==2" class="row">
                <div class="form-group form-md-line-input">
                    <label class="col-md-3 control-label">多少天后生效</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="多少天后生效"
                               ng-class="{'edited':vm.model.fixed_begin_term}" required ng-model="vm.model.fixed_begin_term">
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.model.date_info_type==3" class="row">
                <div class="form-group form-md-line-input">
                    <label class="col-md-3 control-label">多少天内有效</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="多少天内有效"
                               ng-class="{'edited':vm.model.fixed_term}" required ng-model="vm.model.fixed_term">
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
            <button type="submit" button-busy="vm.saving" busy-text="保存"
                    class="btn btn-primary blue" ng-click="vm.save()"
                    ng-disabled="modalform.$invalid">
                <span>保存</span>
            </button>
        </div>
    </form>
</div>
