<div ng-controller="views.activity.modify as vm">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-hand-o-right"></i>
                <a ng-if="!vm.activity.id" href="#">添加活动</a>
                <a ng-if="vm.activity.id" href="#">编辑活动: {{vm.activity.title}}</a>
            </li>
        </ul>
    </div>
    <div class="portlet light bordered">
        <form name="modalform" role="form" novalidate class="form-validation">
        
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label">活动标题</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="活动标题"
                                       ng-class="{'edited':vm.activity.id>0}" required ng-model="vm.activity.title">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label">截至时间</label>
                            <div class="col-md-9">
                                <p class="input-group">
                                    <input type="text" class="form-control" placeholder="截至时间"
                                           uib-datepicker-popup="yyyy/MM/dd" readonly
                                           ng-model="vm.activity.endTime"
                                           is-open="vm.date.leftopen"
                                           datepicker-options="vm.date.dateOptions"
                                           ng-required="true"
                                           current-text="今天"
                                           datetimepicker-neutral-timezone
                                           clear-text="清除"
                                           close-text="关闭" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="vm.date.openleft()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>

                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                         
                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">活动内容</label>
                            <div class="col-md-10">
                                <div text-angular ng-model="vm.activity.content"></div>
                            </div>
                        </div>
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">活动规则</label>
                            <div class="col-md-10">
                                <div text-angular ng-model="vm.activity.rules"></div>
                            </div>
                        </div>
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label">选择资源</label>
                            <div class="col-md-9">
                                <div ng-file-select="vm.file.onFileSelect($files)"
                                     data-multiple="vm.file.multiple" title="选择图片"
                                     onclick="this.value = null"
                                     class="btn btn-upload">点击上传图片</div>
                                <ol>
                                    <li ng-repeat="(k,v) in vm.file.selectFiles">
                                        {{v.file.name}} ----- {{v.progress.p}}% <a href="#" ng-click="vm.file.abort(k)">X</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">返回</button>
                <button type="submit" button-busy="vm.saving" busy-text="保存"
                        class="btn btn-primary blue" ng-click="vm.save()"
                        ng-disabled="modalform.$invalid">
                    <span>保存</span>
                </button>
            </div>
        </form>
    </div>
</div>











